option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: awshine_demo/wsgi.py
    - option_name: PYTHONPATH
      value: awshine_demo/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: awshine_demo.settings
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: static/

container_commands:
    01_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    02_createsu:
        command: "django-admin.py createadmin"
        leader_only: true
    03_collectstatic:
        command: "django-admin.py collectstatic --noinput"