option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: awshine_demo/wsgi.py
    - option_name: PYTHONPATH
      value: awshine_demo/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: awshine_demo.settings
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: static/
    - option_name: DJANGO_SECRET_KEY
      value: iq3ybtqr376d76q3ditqd5qid75q267q47254e5e4712e7261e7612e
    - option_name: DJANGO_DEBUG
      value: False
    - option_name: DJANGO_ALLOWED_HOSTS
      value: ".elasticbeanstalk.com"
    - option_name: DJANGO_INTERNAL_IPS
      value: "127.0.0.1"
    - option_name: DJANGO_LOG_LEVEL
      value: INFO

container_commands:
    01_syncdb:
        command: "django-admin.py syncdb --no-input"
        leader_only: true
    02_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    03_createsu:
        command: "django-admin.py createadmin"
        leader_only: true
    04_collectstatic:
        command: "django-admin.py collectstatic --noinput"